* {
    color: white;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    margin: 0;
    padding: 0;
    border: 0;
}

.home {
    display: grid;
    grid-template-columns: 2fr 3fr;

    min-height: 100vh;
    max-height: 100vh;

    margin: 0;
    padding: 0;
    border: 0;

    background-image:  url("data/trees.svg"), url("data/clouds.svg"), url("data/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: +100%;
}

.aboutme {
    display: grid;
    grid-template-columns: 3fr 2fr;

    background: none;
}

.projects {
    /* background-color: rebeccapurple; */
    background-color: black;
}

.contacts {
    background-image:  url("data/contacts-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: +100%; */
}

article {
    margin-left: 7vw;
    margin-top: 20vh;
}

.biography {
    align-self: center;
    justify-self: center;
    /* margin-right: 1vw; */
    /* margin-top: 2vh; */
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Rubik;
    font-size: 10vh;

    margin: 0;
}

.description {
    font-family: Alef;
    font-size: 4vh;

    margin-top: 4vh;
}

p {
    margin: 0;
}

aside {
    justify-self: flex-end;

    margin-top: 20vh;
    margin-right: 7vw;
}

button {
    font-family: Rubik;
    font-size: 6vh;

    text-decoration: none;
    margin-left: 4vw;

    background: none;
    border: none;
    outline: none;
}

::selection {
    /* background-color: black; */
    background: none;
}

::-webkit-scrollbar {
    width: 0;
  }

iframe {
    position: absolute;
    top: 100vh;
    z-index: -1;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: none;
}

img {
    justify-self: center;
    align-self: center;

    height: 70vh;
}

.biography-description {
    margin-top: 5vh;
    font-size: 3vh;

    max-width: 50vw;
}