* {
    color: white;
}

body {
    display: grid;
    grid-template-columns: 2fr 3fr;

    min-height: 100vh;
    max-height: 100vh;

    margin: 0;
    padding: 0;
    border: 0;

    background-image:  url("data/trees.svg"), url("data/clouds.svg"), url("data/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: +100%;
}

article {
    margin-left: 7vw;
    margin-top: 20vh;
}

h1 {
    font-family: Rubik;
    font-size: 10vh;

    margin: 0;
}

.description {
    font-family: Alef;
    font-size: 4vh;

    margin-top: 4vh;
}

p {
    margin: 0;
}

aside {
    justify-self: flex-end;

    margin-top: 20vh;
    margin-right: 7vw;
}

a {
    font-family: Rubik;
    font-size: 6vh;

    text-decoration: none;
    margin-left: 4vw;
}

a:hover {
    background-color: 0;

    background-image: url("data/clouds.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    background-color: black;
}